ygpackage3.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ygpackage" targetNamespace="http://vladimirkhil.com/ygpackage3.0.xsd" elementFormDefault="qualified" xmlns="http://vladimirkhil.com/ygpackage3.0.xsd" xmlns:mstns="http://vladimirkhil.com/ygpackage3.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="package">
    <xs:annotation>
      <xs:documentation>Пакет вопросов для SIGame</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tags" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Тег пакета</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="info" type="infoType" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Информация о пакете</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="rounds" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Раунды</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="round" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Раунд</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="info" type="infoType" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Информация о раунде</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="themes" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Темы</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="theme" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Тема</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="info" type="infoType" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Информация о теме</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="questions" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Вопросы</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="question" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                          <xs:documentation>Вопрос</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="info" type="infoType" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Информация о вопросе</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="type" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Тип вопроса. Возможные типы вопросов см. в реестре типов: http://vladimirkhil.com/si/qtypes</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:annotation>
                                                      <xs:documentation>Параметр типа (например, цена Вопроса с секретом)</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute name="name" type="xs:string" use="required">
                                                            <xs:annotation>
                                                              <xs:documentation>
                                                                Имя параметра
                                                              </xs:documentation>
                                                            </xs:annotation>
                                                          </xs:attribute>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string" use="required">
                                                  <xs:annotation>
                                                    <xs:documentation>Название типа</xs:documentation>
                                                  </xs:annotation>
                                                </xs:attribute>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="scenario" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Сценарий вопроса: текст на экране, картинки, музыка и прочее</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="atom" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:annotation>
                                                      <xs:documentation>Единица сценария</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute name="type">
                                                            <xs:annotation>
                                                              <xs:documentation>Тип единицы сценария</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:simpleType>
                                                              <xs:restriction base="xs:string">
                                                                <xs:enumeration value="text">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Текст на экране</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="say">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Говорит ведущий</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="image">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Изображение</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="voice">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Звук</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="video">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Видео</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="marker">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Маркер, отделяющий атомы вопроса от атомов ответа</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                              </xs:restriction>
                                                            </xs:simpleType>
                                                          </xs:attribute>
                                                          <xs:attribute name="time" type="xs:double" use="optional">
                                                            <xs:annotation>
                                                              <xs:documentation>Время, отведённое для единицы сценария</xs:documentation>
                                                            </xs:annotation>
                                                          </xs:attribute>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="right" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Правильные ответы</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="answer" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                                                    <xs:annotation>
                                                      <xs:documentation>Ответ</xs:documentation>
                                                    </xs:annotation>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="wrong" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Неправильные ответы</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="answer" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:annotation>
                                                      <xs:documentation>Ответ</xs:documentation>
                                                    </xs:annotation>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="price" type="xs:unsignedInt" use="required">
                                            <xs:annotation>
                                              <xs:documentation>Цена вопроса</xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required">
                                <xs:annotation>
                                  <xs:documentation>Название темы</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>Название раунда</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="type" use="required">
                    <xs:annotation>
                      <xs:documentation>Тип раунда</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="standart">
                          <xs:annotation>
                            <xs:documentation>Обычный</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="final">
                          <xs:annotation>
                            <xs:documentation>Финал</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор пакета</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="name" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Имя пакета</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="xs:double" use="required">
        <xs:annotation>
          <xs:documentation>
            Версия поддерживаемого стандарта.
            Для данного стандарта версия должна быть равна 4
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="restriction" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Ограничения пакета (например, "18+")</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="date" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Дата создания пакета в свободной форме</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="publisher" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Издатель пакета</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="difficulty" type="xs:unsignedInt" use="optional">
        <xs:annotation>
          <xs:documentation>Сложность пакета (от 0 до 10)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="logo" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Ссылка на изображение-логотип пакета</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="language" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Язык пакета</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="infoType">
    <xs:sequence>
      <xs:element name="authors" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Авторы</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Автор</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sources" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Источники</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Источник</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="comments" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Комментарии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extension" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Расширение пакета, предназначено для новых форматов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>