assets/siq_5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  id="siq"
  targetNamespace="http://vladimirkhil.com/siq_5.xsd"
  elementFormDefault="qualified"
  xmlns="http://vladimirkhil.com/siq_5.xsd"
  xmlns:mstns="http://vladimirkhil.com/siq_5.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="package">
    <xs:annotation>
      <xs:documentation>SIGame question package (version 5)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tags" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Package tag</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="info" type="infoType" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Package info</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="global" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Global package info</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Authors" minOccurs="1" maxOccurs="1">
                <xs:attribute name="id" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation>Unique author identifier</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Author's name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="SecondName" type="xs:string" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Author's second name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Surname" type="xs:string" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Author's surname</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Country" type="xs:string" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Author's country</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Author's city</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sources" minOccurs="1" maxOccurs="1">
                <xs:attribute name="id" type="xs:string" use="required">
                  <xs:annotation>
                    <xs:documentation>Unique source identifier</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Author" type="xs:string" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Source's authos</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Title" type="xs:string" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Source's title</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Year" type="xs:string" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Source's publish year</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Publish" type="xs:string" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Sources's publisher</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Source's publish city</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="rounds" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Rounds</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="round" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Round</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="info" type="infoType" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Round info</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="themes" minOccurs="1" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Themes</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="theme" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Theme</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="info" type="infoType" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Theme info</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="questions" minOccurs="1" maxOccurs="1">
                                  <xs:annotation>
                                    <xs:documentation>Questions</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="question" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                          <xs:documentation>Question</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="info" type="infoType" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Question info</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="type" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>(Deprecated) Question type. Well-know question types are described here: https://vladimirkhil.com/content/docs/QuestionsTypes.xml</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:annotation>
                                                      <xs:documentation>Question type parameter</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute name="name" type="xs:string" use="required">
                                                            <xs:annotation>
                                                              <xs:documentation>
                                                                Parameter name
                                                              </xs:documentation>
                                                            </xs:annotation>
                                                          </xs:attribute>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string" use="required">
                                                  <xs:annotation>
                                                    <xs:documentation>Question type name</xs:documentation>
                                                  </xs:annotation>
                                                </xs:attribute>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="scenario" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>(Deprecated) Question scenario: text, image, audio etc.</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="atom" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:annotation>
                                                      <xs:documentation>Scenario fragment</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute name="type">
                                                            <xs:annotation>
                                                              <xs:documentation>Fragment type</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:simpleType>
                                                              <xs:restriction base="xs:string">
                                                                <xs:enumeration value="text">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Screen text</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="say">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Showman replic</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="image">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Image</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="voice">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Sound</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="video">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Video</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                                <xs:enumeration value="marker">
                                                                  <xs:annotation>
                                                                    <xs:documentation>Marker that separates question fragments from answer fragments</xs:documentation>
                                                                  </xs:annotation>
                                                                </xs:enumeration>
                                                              </xs:restriction>
                                                            </xs:simpleType>
                                                          </xs:attribute>
                                                          <xs:attribute name="time" type="xs:double" use="optional">
                                                            <xs:annotation>
                                                              <xs:documentation>Fragment time</xs:documentation>
                                                            </xs:annotation>
                                                          </xs:attribute>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="script" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Question play script (for custom type)</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="step" type="parametersType" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:annotation>
                                                      <xs:documentation>Script step</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:attribute name="type" type="xs:string" use="optional">
                                                      <xs:annotation>
                                                        <xs:documentation>Script step type</xs:documentation>
                                                      </xs:annotation>
                                                    </xs:attribute>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="params" type="parametersType" minOccurs="0" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Question parameters</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                            <xs:element name="right" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Right answers</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="answer" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                                                    <xs:annotation>
                                                      <xs:documentation>Answer</xs:documentation>
                                                    </xs:annotation>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="wrong" minOccurs="1" maxOccurs="1">
                                              <xs:annotation>
                                                <xs:documentation>Wrong answers</xs:documentation>
                                              </xs:annotation>
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="answer" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:annotation>
                                                      <xs:documentation>Answer</xs:documentation>
                                                    </xs:annotation>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="price" type="xs:unsignedInt" use="required">
                                            <xs:annotation>
                                              <xs:documentation>Question price</xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                          <xs:attribute name="type" type="xs:string" use="optional">
                                            <xs:annotation>
                                              <xs:documentation>Question type name</xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required">
                                <xs:annotation>
                                  <xs:documentation>Theme name</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>Round name</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="type" use="required">
                    <xs:annotation>
                      <xs:documentation>Round type</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="standart">
                          <xs:annotation>
                            <xs:documentation>Standard round</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="final">
                          <xs:annotation>
                            <xs:documentation>Final round</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Unique package identifier</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="name" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Package name</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="xs:double" use="required">
        <xs:annotation>
          <xs:documentation>
            Current schema version. Should be equal to 5 for this schema
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="restriction" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Package restrictions (for example, "18+")</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="date" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Package creation date in free form</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="publisher" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Package publisher</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="difficulty" type="xs:unsignedInt" use="optional">
        <xs:annotation>
          <xs:documentation>Package difficulty (from 0 to 10)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="logo" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Package logo image link</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="language" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Package language</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="parameterType">
    <xs:sequence>
      <xs:element name="item" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Content item</xs:documentation>
        </xs:annotation>
        <xs:attribute name="type" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Content item type</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="isRef" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>Content item reference to resource marker</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="placement" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Content item placement</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="duration" type="xs:duration" use="optional">
          <xs:annotation>
            <xs:documentation>Content item duration</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="waitForFinish" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>Content item wait for finish marker</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:element>
      <xs:element name="param" type="parameterType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Nested parameter</xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Question parameter name</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Question parameter type</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="isRef" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>Question parameter reference to package resource marker</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:element>
      <xs:element name="numberSet" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Number set value</xs:documentation>
        </xs:annotation>
        <xs:attribute name="minimum" type="xs:integer" use="optional">
          <xs:annotation>
            <xs:documentation>Minimum value</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="maximum" type="xs:integer" use="optional">
          <xs:annotation>
            <xs:documentation>Maximum value</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="step" type="xs:integer" use="optional">
          <xs:annotation>
            <xs:documentation>Step value</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:sequence>
      <xs:element name="param" type="parameterType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Question parameter</xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Question parameter name</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Question parameter type</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="isRef" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>Question parameter reference to package resource marker</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="infoType">
    <xs:sequence>
      <xs:element name="authors" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Authors</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Author</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sources" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sources</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Source</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="comments" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Comments</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="showmanComments" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Showman comments</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extension" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Item information extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>